<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/edit_user.css">
    <title><%= user.first_name %> <%= user.last_name %></title>
</head>
<body>
    <%- include('header') %>

    <h1>edit user</h1>
    
    <form action="/users/<%= user.id %>?_method=PUT" method="POST">

        <label for="email">Email:</label>
        <input type="email" name="email" id="email" value="<%= user.email %>">

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" value="<%= user.password %>">

        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" id="first_name" value="<%= user.first_name %>">

        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" id="last_name" value="<%= user.last_name %>">

        <label for="birth_date">Birthdate:</label>
        <input type="date" name="birth_date" id="birth_date" value="<%= user.birth_date %>">

        <input type="submit" value="Update">

    </form>

</body>
</html>